on:
  push:
    branches:
      - main

name: Render and Publish

# you need these permissions to publish to GitHub pages
permissions: 
    contents: write
    pages: write

jobs:
  build-deploy:
    # runs-on: ubuntu-latest
    runs-on: macos-latest
    timeout-minutes: 20
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x' 
      - run: pip install -e . 

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        # with:
        #   # To install LaTeX to build PDF book 
        #   tinytex: true 
        #   # uncomment below and fill to pin a version
        #   # version: SPECIFIC-QUARTO-VERSION-HERE


      # #   run: quarto install tinytex --no-prompt
      # - name: Install TinyTeX directly
      #   run: quarto install tinytex --no-prompt
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   # run: |
      #   #   wget -qO- "https://yihui.org/tinytex/install-bin-unix.sh" | sh
      #   #   echo "$HOME/.TinyTeX/bin/x86_64-linux" >> $GITHUB_PATH
      #   #   export PATH="$HOME/.TinyTeX/bin/x86_64-linux:$PATH"
      #   #   tlmgr --version

      # - name: Install Chrome
      #   uses: browser-actions/setup-chrome@v2
            #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Render Quarto Project - default profile
        uses: quarto-dev/quarto-actions/render@v2
        env:
          QUARTO_PROFILE: default
        with:
          path: docs
          to: html

      - name: Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write        
#     pages: write
